body {
  margin: 0; 
  background-color: #141414;
  /* height: 5000px; */
  /* overflow: hidden; */
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.contents_area {
  width: 100%;
  height: 100%;
  padding: 0 60px;
  box-sizing: border-box;

  position: relative;

  /* fadeIn, fadeOut 하는 banner 보다 더 높은 곳에 놔두기 */
  z-index: 999;
}
/* /////////////////////////////// */
#wrap {
  overflow: hidden;
}

/* *****header***** */
header {
  background-color: transparent;
  width: 100%;
  height: 70px;
  position: fixed;
  transition: background 0.3s;
  z-index: 999999999;
}
.head_align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* head_L */
.head_L {
  display: flex;
  align-items: center;
}
.logo {
  width: 92px;
  height: 31px;
  margin-right: 25px;
}
.logo > a {
  display: block;
  width: 100%;
  height: 100%;
}
.logo_img {
  width: 100%;
}

.head_menu {
  font-size: 1.45vw;
  color: #fff;
  position: relative;
  padding-right: 5px;
  cursor: pointer;

  display: none;
}
/* 가상요소와 테두리로 삼각형 만들기 */
.head_menu::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 8px;

  width: 0px;
  height: 0px;

  border-bottom: 7px solid #fff;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  
  transform: rotate(180deg);
}
.h_menu_pan {
  width: 300px;
  height: 300px;
  border-top: 1px solid #ddd;
  box-sizing: border-box;
  background-color: #000;

  position: absolute;
  left: 50%;
  top: 200%;
  transform: translate(-50%);

  display: none;
}
.h_carrot {
  width: 0;
  height: 0;

  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);

  border-bottom: 7px solid #fff;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  
}
.h_nav_pan {
    height: 100%;

    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
}
.h_nav_pan > li {
  height: calc(100% / 4);
  /* margin-left: 20px; */
  font-size: 12px;
  line-height: 4.2;
}

.h_nav_ul {
  display: flex;
  color: rgba(255, 255, 255, 0.5);
}
.h_nav_ul > li {
  margin-left: 20px;
  font-size: 0.95vw;
}
.h_nav_ul > li:hover {
  color: #fff;
}

/* head_R */
.head_R {
  display: flex;
  align-items: center;
  background-color: transparent;
  gap: 10px;
}
.search_icon_box {
  height: 35px;

  display: flex;
  align-items: center;

  /* border: 0.5px solid #fff; */
  /* background-color: black; */
  background: transparent;

  margin-right: 10px;
}
.alarm_icon_box { /* text박스 놓을려고 지정해둔 속성*/
  position: relative;
}
.alarm_btn > svg {
  width: 24px;
  height: 24px;
}
.search_btn,
.alarm_btn {
  color: #fff;
  background: transparent;
  border: none;
  cursor: pointer;
}


#search {
  width: 0;
  height: 100%;
  background: transparent;

  padding-right: 10px;
  box-sizing: border-box;

  font-size: 14px;
  color: #fff;

  border: none;
  outline: none;
  transition: width .3s;
}

.alarm_pan_box {
  display: none;
}
.carrot {
  width: 10px;
  height: 10px;
  background-color: #fff;
  box-shadow: -1px -1px 1px 0 rgba(214 ,214 ,214 ,1);
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 10px) rotate(45deg);
}
.alarm_pan {
  width: 200px;
  height: 500px;
  border-top: 1px solid #ddd;
  box-sizing: border-box;
  background-color: #000;

  position: absolute;
  left: 50%;
  top: 145%;
  transform: translate(-90%);
}

.profile_icon_box {
  width: 32px;
  height: 32px;
}
.profile_btn {
  width: 100%;
  height: 100%;
}
.profile_btn > img {
  width: 100%;
  border-radius: 5px;
}


/* main_banner */

/* ******************* */
/* *****container***** */
/* ******************* */



.container{
  width: 100%;
}

/* **main_banner** */
.main_banner {
  position: relative;
  padding-bottom: 49.5%;
}
.banner {
  width: 100%;
  height: 100%;
  /* padding-bottom: 49.5%; */
  position: absolute;
  left: 0;
  top: 0;

  /* opacity: 0; */

  display: none;
}

.banner_img_box {
  width: 36%;
  position: absolute;
  left: 4%;
  top: 18%;
}
.banner_img_box > img {
  width: 100%;
}
.mb_txt {
  width: 31.5vw;
  line-height: 1.6;
  color: #fff;
  font-size: 1.3vw;
  position: absolute;
  left: 4%;
  top: 54%;

  
}
.play_btn_box {
  width: 11%;
  height: 8%;

  position: absolute;
  left: 4%;
  bottom: 10%;

  background: #fff;
  border-radius: 4px;
  font-size: 1em;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

}
.play_btn {
  width: 2vw;
  padding-right: 1vw;

  display: flex;
  align-items: center;
}
.play_btn > svg{
  width: 100%;
  height: 100%;
}
.play_txt {
  font-size: 1.3vw;
}

/* border-bottom: 4px solid #f00;
border-left: 4px solid #f00;
border-right: 4px solid #f00; */




/*  애니메이션 
.banner1 {
  animation: mb_slider1 6s infinite;
}
.banner2 {
  animation: mb_slider2 6s infinite;
}
.banner3 {
  animation: mb_slider3 6s infinite;
}
@keyframes mb_slider1 {
  0% {opacity: 1;}
  20% {opacity: 1;}
  40% {opacity: 0;}
  60% {opacity: 0;}
  80% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes mb_slider2 {
  0% {opacity: 0;}
  20% {opacity: 0;}
  40% {opacity: 1;}
  60% {opacity: 1;}
  80% {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes mb_slider3 {
  0% {opacity: 0;}
  20% {opacity: 0;}
  40% {opacity: 0;}
  60% {opacity: 0;}
  80% {opacity: 1;}
  100% {opacity: 0;}
} */






/* *************************** */
/* ***********sec************* */
/* *************************** */
.sec {
  width: 100%;
  margin-bottom: 50px;
  margin-top: 0;
  /* height: 200px; */
  /* padding-bottom: 13%; */
  /* background-color: skyblue; */
}
.sec_header {
  height: 3.2vw;
  font-size: 1.6vw;
  /* background-color: rgb(180, 68, 180); */
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #E5E5E5;
}
.indi {
  /* width: 150px; */
  height: 7px;
  background-color: aqua;
  display: flex;
}
.indi_line {
  width: 40px;
  height: 100%;
  border: 1px solid;
  box-sizing: border-box;
  background-color: tomato;
}


.sec_body {
  width: 100%;
  /* background-color: pink; */
  /* overflow: hidden; */
}
ul.item_box {
  /* height: 200px; */
  /* display: flex; */
  position: relative;
  /* overflow: hidden; */
}
.item {
  width: calc(100% / 6);
  height: 100%;

  overflow: hidden;
  box-sizing: border-box;

  position: absolute;

  cursor: pointer;

  transition: transform .5s;
}
.item:hover {
  transform: scale(1.2);
  /* transform-origin: 100% 100%; */
  z-index: 99999;
}
.item > svg {
  width: 50%;
}
.item > img {
  width: 100%;
  border-radius: 5px;
}

/* top_ten의 svg와 img 크기 조절 */
#top_ten .item > svg {
  width: 50%;
}
#top_ten .item > img {
  width: 50%;
  border-radius: 5px;
}

/* btn버튼 */
.btn {
  width: 60px;
  height: calc(100% - 3.0vw);
  background-color: transparent;
  position: absolute;
  top: 3.2vw;
  z-index: 9999;

  font-size: 35px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  cursor: pointer;

  display: none;
}
.btn_L { 
  left: 0; 
}
.btn_R {
  right: 0; 
}
/* sec에 마우스 올렸을 때 좌우 버튼에 음영주기 */
.sec:hover .btn_L { 
  background-image: linear-gradient(to left, transparent ,rgba(0, 0, 0));
}
.sec:hover .btn_R { 
  background-image: linear-gradient(to right, transparent ,rgba(0, 0, 0));
}

.sec:hover .btn {
  display: block;
  z-index: 999999;
}


/* footer */
.footer {
  height: 600px;
  color: grey;
  margin: 20px auto 0;
  max-width: 980px;
  padding: 0 4%;

  font-size: 14px;
}
.footer > * {
  margin-bottom: 30px;
}
.footer_icon_box {
  display: flex;
}
.footer_icon_box > a {
  display: block;
  height: 100%;
}
.footer_icon_box  svg {
  margin-right: 15px;
  color: #fff;
  fill: #fff;
}

/* .footer_menu_box {} */

ul.f_menu {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
}
ul.f_menu > li {
  width: calc(100% / 4);
}

.service_code {
  display: inline-block;
  border: 1px solid gray;
  padding: 10px 8px;
  cursor: pointer;
}
.service_code:hover { 
  color: #fff;
}
.user_info > * {
  margin-bottom: 5px;
  font-size: 12px
}




/* 반응형----------------------------------------- */

/* 1670 */
@media screen and (max-width: 1670px) {

}

/* 1350 */
@media screen and (max-width: 1350px) {
  .sec {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 0;
  }
}

/* 1200 분기점(노트북) */
@media screen and (max-width: 1200px) {
  .item {
    width: calc(100% / 5);
  }

  .sec {
    width: 100%;
  }

  .contents_area {
    padding: 0 40px;
  }

}

/* 1024 분기점(아이패드 프로, 옛날 모니터) */
@media screen and (max-width: 1024px) {

  .contents_area {
    padding: 0 30px;
  }

  /* h_nav_ul */
  .h_nav_ul {
    display: none;
  }
  .head_menu {
    display: block;
  }


  .item {
    width: calc(100% / 4);
  }
}

/* 780 */
@media screen and (max-width: 780px) {
  .head_menu::after {
    top: 6px;

    border-bottom: 5px solid #fff;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
  }
}


/* 768 분기점(태블릿) */
@media screen and (max-width: 768px) {
  .contents_area {
    padding: 0 20px;
  }

  header {
    height: 35px;
  }


  .item {
    width: calc(100% / 3);
  }

  .search_btn > svg {
    width: 20px;
    height: 20px;
  }

  .profile_icon_box {
    width: 27px;
    height: 27px;
  }

  .search_icon_box {
    height: 23px;
  }

}

/* 600 */
@media screen and (max-width: 600px) {
  .head_menu::after {
    top: 4px;

    border-bottom: 4px solid #fff;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }
}

/* 587 */
@media screen and (max-width: 587px) {
  .head_menu {
    font-size: 1.95vw;
  }
  .head_menu::after {
    top: 7px;
    border-bottom: 4px solid #fff;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
  }
}


/* 480 분기점(핸드폰) */
@media screen and (max-width: 480px) {
  .item {
    width: calc(100% / 3);
  }
  .head_menu {
    font-size: 2.7vw;
  }
  .sec {
    margin-bottom: 30px;
  }
  .footer {
    font-size: 12px;
  }
}

/* 440 분기점(search font-size) */
@media screen and (max-width: 440px) {
  #search {
    font-size: 9px;
  }
}

/* 400 분기점(search font-size) */
@media screen and (max-width: 400px) {
  .head_menu {
    margin-left: -20px;
  }
}


/* 350px logo margin-right 줄이기 */
@media screen and (max-width: 380px) {

  header {
    height: 25px;
  }

  .logo_img {
    width: 80%;
  }

  .logo {
    margin-right: 5px;
  }

  .search_icon_box {
    margin-right: 0;
  }

}

/* 350px logo 사이즈 줄이기 */
@media screen and (max-width: 350px) {

  .head_R {
    gap: 2px;
  }

  .logo_img {
    width: 80%;
  }

  .logo {
    width: 92px;
    height: 31px;
    margin-right: 5px;
  }

  .search_btn > svg {
    width: 16px;
    height: 16px;
  }

  .alarm_btn > svg {
    width: 20px;
    height: 24px;
  }

  .footer {
    height: 480px;
  }
}



@media screen and (max-width: 280px) {

  .contents_area {
    padding: 0px 10px;
  }

  .item {
    width: calc(100% / 2);
  }

  .h_menu_pan {
    width: 190px;
    height: 280px;
  }

  .head_R {
    gap: 5px;
  }

  .search_btn > svg {
    width: 15px;
    height: 14px;
  }

  .alarm_btn > svg {
    width: 17px;
    height: 17px;
  }

  #search {
    width: 40px;
  }

}
